<section class="landing-header">
    <div class="background-image">
        <img src="https://images.pexels.com/photos/2792601/pexels-photo-2792601.jpeg" alt="">
    </div>    
    <div class="background-content">
        <div class="columns is-flex is-justify-content-center is-align-items-center" style="height: 100%;">
            <div class="column is-8">
                <div class="w-100 is-flex is-flex-direction-column">
                    <h1>Hospital de cardiologia de aguascalientes</h1>
                    <p>Hospital de alta calidad en cardiologia</p>
                    <button class="button">Conocer mas</button>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="landing-us">

</section>
<section class="landing-services">

</section>
<section class="landing-patients">

</section>