<section class="landing-header">
    <div class="background-image">
        <img src="https://images.pexels.com/photos/236380/pexels-photo-236380.jpeg" alt="">
    </div>    
    <div class="background-content">
        <div class="columns is-flex is-justify-content-center is-align-items-center" style="height: 100%;">
            <div class="column is-8">
                <div class="principal-info w-100 is-flex is-flex-direction-column is-align-items-center">
                    <h1>SAIP</h1>
                    <p>Sistema avanzado de informacion de pacientes</p>
                    <button class="button is-primary">Conocer mas</button>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="landing-us py-5 my-5">
    <div class="container landing-cards-container">
        <h1 class="title py-3">Porque SIAP</h1>
        <ng-container *ngFor="let card of landingCards; let i = index">
            <div class="columns landing-card m-0 py-5" >
                <ng-container *ngIf="card.left">
                    <div class="column is-6 image-container">
                        <div>
                            <img [src]="card.image" alt="aww">
                        </div>
                    </div>
                    <div class="column is-6 text-container">
                        <h2>{{card.title}}</h2>
                        <p>{{card.text}}</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="!card.left">
                    <div class="column is-6 text-container">
                        <h2>{{card.title}}</h2>
                        <p>{{card.text}}</p>
                    </div>
                    <div class="column is-6 image-container">
                        <div>
                            <img [src]="card.image" alt="aww">
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</section>
<section class="landing-services my-5">
    <div class="container services-list-container">
        <ng-container *ngFor="let service of landingServices; let i = index">
            <div class="service-container">
                <img [src]="service.icon" alt="icon">
                <h3>{{service.title}}</h3>
            </div>
        </ng-container>
    </div>
</section>
<section class="landing-patients">

</section>
<section class="landing-contact">
    <div class="container">
        
    </div>
</section>